body{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    padding: 0px;
    margin: 0px;
    color: white;
    height: 100%;
    background-color: #eee;
    align-items: center;
}
.content{
    margin: 30px auto;
    width: 1024px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    background:white url("./img/bloodtrail-emote.png.webp") top right no-repeat;
    background-size: 50%;
    background-position: right 80px top 40px;
    box-shadow: #303030 2px 2px 5px;
}
.form{
    width: 300px;
    display: block;
    border-right: 1px solid #ccc;
    margin-right: 40px;
    padding-right: 30px;
}
.input{
    padding: 7px;
    margin: 10px 15px;
    display: block;
    border-radius: 5px;
    width: 250px;
    background-color: #eee;
    color: black;
    border: 1px #eee solid;
}
.input:focus{
    outline: none;
    border: #333 1px solid;
}
h1{
    font-size: 3em;
}
h3{
    padding: 7px;
    margin: 10px 15px;
    display: block;
    color: #202020;
    font-weight: 200;
    width: 268px;
}
#name{
    width: 268px;
}
.action{
    text-align: center;
}
/* CSS */
.button-18 {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}